@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Hurricane&family=Parisienne&family=Tangerine:wght@700&display=swap");
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 00.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}
body {
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 5px 25px rgb(230, 225, 225);
  justify-content: space-around;
  border-radius: 0.5rem;
  background-color: white;
  position: absolute;
}

.food-img {
  margin: 2rem;
}
.food-img img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 500px;
}
form {
  width: 360px;
  height: auto;
}
.login-content {
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 5rem;
}
.login-content img {
  height: 100px;
}
.login-content h2 {
  font-size: 3rem;
  margin: 0 0 30px;
  padding: 0;
  color: var(--black);
  text-align: center;
}
.login-content .inputBox input {
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  background: #f6f6f6;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  color: #1d6b3d;
  width: 100%;
  border: 1rem;
  box-shadow: 0 3px 5px var(--black);
  outline: none;
}
.login-content .inputBox input[type="submit"] {
  background: var(--green);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 600;
}
.login-content .inputBox input[type="submit"]:hover {
  background: var(--black);
  letter-spacing: 0.1rem;
}
.food-img img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.food-img {
  overflow: hidden;
}
.food-img img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.login-content .inputBox input[type="text"]:hover {
  box-shadow: 0px 0px 5px var(--black);
  border: 1px solid var(--black);
  border-radius: 0.5rem;
}
.login-content .inputBox input[type="password"]:hover {
  box-shadow: 0px 0px 5px var(--black);
  border: 1px solid var(--black);
  border-radius: 0.5rem;
}
