@{
    ViewData["Title"] = "Access Denied";
}

<div style="margin-top:20vh;font-size:30px">
    <h1 style="color:red">@ViewData["Title"]</h1>
    <p style="color:red">You do not have access to this resource.</p>
</div>