@{
    ViewData["Title"] = "Cảnh báo truy cập";
}

<div style="margin-top:20vh;font-size:30px">
    <h1 style="color:red">@ViewData["Title"]</h1>
    <p style="color:red">Bạn bị chặn truy cập vào nội dung này !</p>
</div>