@{
    ViewData["Title"] = "Trang chủ";
    ViewData["HomeActive"] = "active";
    ViewData["MenuActive"] = "";
    ViewData["FoodActive"] = "";
    ViewData["RequestActive"] = "";
}
@section MYCSS{
<link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet" />
<link href="@Url.Content("~/css/home.css")" rel="stylesheet" />
}
<div class="HomePage">
    <section class="home" id="home">
        <div class="swiper-container home-slider">
            <div class="swiper-wrapper wrapper">
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Về Luxury Restaurant</span>
                        <h3>Địa điểm</h3>
                        <p>Toạ lạc tại 54 Nguyễn Lương Bằng, phường Hoà Khánh Bắc, quận Liên Chiểu, thành phố Đà Nẵng
                        </p>
                    </div>
                    <div class="image">
                        <img src="https://ltd-01.b-cdn.net/wp-content/uploads/2020/05/Love-that-design-Mama-Pho-Restaurant-02.jpg"
                            alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Về Luxury Restaurant</span>
                        <h3>Tầm nhìn</h3>
                        <p>Hứa hẹn mang lại cho khách hàng những trải nghiệm ăn uống đúng với đẳng cấp 5 sao</p>
                    </div>
                    <div class="image">
                        <img src="https://ltd-01.b-cdn.net/wp-content/uploads/2020/05/Love-that-design-Mama-Pho-Restaurant-13.jpg"
                            alt="">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Về Luxury Restaurant</span>
                        <h3>Không gian sang trọng</h3>
                        <p>Không gian đậm chất Retro cổ điển, giúp khách hàng quên đi cuộc sống hối hả ngoài kia</p>
                    </div>
                    <div class="image">
                        <img src="https://ltd-01.b-cdn.net/wp-content/uploads/2020/05/Love-that-design-Mama-Pho-Restaurant-01.jpg"
                            alt="">
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
</div>

@section Scripts{
<script src="~/lib/swiper/swiper-bundle.min.js"></script>
<script src="~/js/home.js"></script>
}