@model UserForLogin
@{
    ViewData["Title"] = "Đăng nhập";
}
@{
    Layout = "_PrivateLayout";
}
@section MYCSS{
<link href="@Url.Content("~/css/login.css")" rel="stylesheet" />
}

<div class="container">
    <div class="food-img">
        <img src="~/img/login-food.jpg" />
    </div>

    <div class="login-content">
        <form method="post">
            <div asp-validation-summary="ModelOnly" style="color:red;font-size:1rem"></div>
            <h2 class="tiltle">Luxury Restaurant</h2>
            <div class="inputBox">
                <input asp-for="UserName" type="text" placeholder="Tên đăng nhập" />
                <span asp-validation-for="UserName" style="color:red;font-size:1.2rem"></span>
            </div>
            <div class="inputBox">
                <input asp-for="Password" type="password" placeholder="Mật khẩu" />
                <span asp-validation-for="Password" style="color:red;font-size:1.2rem"></span>
            </div>
            <div class="inputBox">
                <input type="submit" value="Triển !">
            </div>
        </form>
    </div>
</div>