@{
    ViewData["Title"] = "Shopping Cart";
}
@section MYCSS{
    <link href="@Url.Content("~/css/cart.css")" rel="stylesheet" />
}
<section class="shopping-cart-container">
    <div class="products-container">
        <h3 class="title">Your Food</h3>
        <div class="box-container">
        </div>
    </div>
    <div class="cart-total">
        <h3 class="title"> Cart Total </h3>
        <div class="box">
            <h3 class="total"> Total : <span id="total-price"></span> </h3>
            <button class="btn" onclick="PlaceOrder()">Place Order</button>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/cart.js"></script>
}