@{
    ViewData["Title"] = "Request";
    ViewData["HomeActive"] = "";
    ViewData["MenuActive"] = "";
    ViewData["FoodActive"] = "";
    ViewData["RequestActive"] = "active";
}
@section MYCSS{
    <link href="@Url.Content("~/css/upsert.css")" rel="stylesheet" />
}

<section class="create-food-container">
    <h3 class="title">Request</h3>

    <form onsubmit="SendRequest(); return false;">
        <div class="table-Container">
            <div class="box-container">
                <div class="form_row">
                    <label class="form_label">Message</label>
                    <input id="message" class="form_input" />
                </div>
            </div>
            <div class="action-create">
                <button type="submit" class="btn">Send Request</button>
            </div>
        </div>
    </form>

</section>

@section Scripts{
    <script src="~/js/request.js"></script>
}