@{
	ViewData["Title"] = "Yêu cầu";
	ViewData["HomeActive"] = "";
	ViewData["MenuActive"] = "";
	ViewData["FoodActive"] = "";
	ViewData["RequestActive"] = "active";
}
@section MYCSS{
<link href="@Url.Content("~/css/upsert.css")" rel="stylesheet" />
}

<section class="create-food-container">
	<h3 class="title">Gửi yêu cầu</h3>

	<div class="table-Container">
		<div class="box-container">
			<div class="form_row">
				<label class="form_label">Thông điệp</label>
				<textarea id="message" class="form_area" rows="3"></textarea>
			</div>
		</div>
		<div class="action-create">
			<button onclick="SendRequest()" class="btn">Gửi đi</button>
			<button onclick="AskForPay()" class="btn">Gọi thanh toán</button>
		</div>
	</div>
	<div>
		<div class="action-create">

		</div>
	</div>

</section>

@section Scripts{
<script src="~/js/request.js"></script>
}