@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 8.5rem;
  scroll-behavior: smooth;
}
.create-food-container {
  top: 8.5 rem;
  left: 0;
  right: 0;
  height: calc(100vh-8.5rem);
  background-color: white;
  /* overflow-y: auto;
  padding-top: 0.5rem; */
}

.create-food-container .title {
  font-size: 2.5rem;
  padding: 1rem;
  color: #130f40;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
}
.create-food-container .table-Container {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 2rem;
  background-color: white;
}
.create-food-container .table-Container .box-container {
  font-size: 1.3rem;
  color: #444;
  /* white-space: nowrap;
  border-collapse: collapse;
  padding-bottom: 1.5rem;
  padding-top: 2rem; */
}
.create-food-container .table-Container .box-container .row .col25 {
  float: left;
  width: 11%;
  margin-left: 5%;
  margin-top: 6px;
}
.create-food-container .table-Container .box-container .row .col75 {
  float: left;
  width: 40%;
  padding: 5px 10px;
  margin: 5px 15px;
  border: 1px solid var(--black);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  margin-right: 30%;
}
.create-food-container .table-Container .box-container .row label {
  padding: 12px 12px 12px 0;
}

.create-food-container .table-Container .box-container .row textarea {
  padding: 5px 10px;
  margin: 5px 15px;
  border: 1px solid var(--black);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  margin-right: 30%;
}
.create-food-container .action-create {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5rem;
}
.create-food-container .action-create a {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 1.3rem;
}
.create-food-container .action-create a:hover {
  background: var(--green);
  letter-spacing: 0rem;
}
