@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 8.5rem;
  scroll-behavior: smooth;
}
create-food-container {
  top: 8.5 rem;
  left: 0;
  right: 0;
  height: calc(100vh-8.5rem);
  background-color: white;
  /* overflow-y: auto;
  padding-top: 0.5rem; */
}
.create-food-container .title {
  font-size: 2.5rem;
  padding: 1rem;
  color: #130f40;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
}
.create-food-container .table-Container {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: white;
}
.create-food-container .table-Container .box-container {
  font-size: 1.3rem;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
  /* text-align: center; */
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.create-food-container .table-Container .box-container label {
  font-size: 1.5rem;
  padding: 12px 12px 12px 0;
  margin-left: 25%;
  display: inline-block;
  /* text-align: left; */
}
.create-food-container .table-Container .box-container input {
  width: 40%;
  padding: 5px 10px;
  margin: 5px 15px;
  border: 2px solid var(--black);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  margin-right: 30%;
}
.create-food-container .table-Container .action-create {
  text-align: center;
  padding-bottom: 1.5rem;
}
.create-food-container .table-Container .action-create a {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 1.3rem;
}
.create-food-container .table-Container .action-create a:hover {
  background: var(--green);
  letter-spacing: 0rem;
}

section {
  margin-top: 7.5rem;
  padding: 2 rem 9%;
}
section:nth-child(even) {
  background: #fff;
}
.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255);
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}
header .logo i {
  color: var(--green);
}
header .navbar a {
  font-size: 2rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
}
header .navbar a.active,
header .navbar a:hover {
  color: rgb(241, 240, 240);
  background: var(--green);
}
header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}
header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}
header .icons #menu-bars {
  display: none;
}
@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: rgb(230, 227, 227);
  }
}
