@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 8.5rem;
    scroll-behavior: smooth;
}

.upsert {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #fff;
    background: var(--black);
    border-radius: 0.5rem;
    padding: 0.8rem;
    text-align: right;
    margin-right: 18%;
    padding-bottom: 0.8rem;
}

.manage-container {
    top: 8.5 rem;
    left: 0;
    right: 0;
    height: calc(100vh-8.5rem);
    background-color: white;
    overflow-y: auto;
    padding-top: 0.5rem;
}

    .manage-container .title {
        font-size: 2.5rem;
        padding: 1rem;
        color: #130f40;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .manage-container .table-Container {
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        background-color: white;
    }

        .manage-container .table-Container .table-box {
            margin-top:1rem;
            font-size: 1.3rem;
            color: #444;
            white-space: nowrap;
            border-collapse: collapse;
            text-align: center;
            padding-bottom: 2rem;
        }

            .manage-container .table-Container .table-box .create {
                text-align: right;
                margin-right: 18%;
                padding-bottom: 0.8rem;
            }

                .manage-container .table-Container .table-box .create .upsert {
                    margin-top: 1rem;
                    font-size: 1.2rem;
                    color: #fff;
                    background: var(--black);
                    border-radius: 0.5rem;
                    padding: 0.8rem;
                }

table {
    width: 70%;
    font-size: 1.3rem;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    table th {
        background-color: var(--green);
        color: #fff;
        padding: 1.5rem;
    }

    table td {
        border: 1px solid #00000017;
        padding: 1rem 1.5rem;
    }

    table tr {
        background-color: #fff;
        transition: 0.3s ease-in-out;
    }

tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

tr:hover {
    filter: drop-shadow(0px 2px 6px #0002);
}

.manage-container .table-Container .table-box .action_btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

    .manage-container .table-Container .table-box .action_btn a {
        text-decoration: none;
        color: #444;
        background: #fff;
        border: 1px solid;
        display: inline-block;
        padding: 7px 20px;
        font-weight: bold;
        border-radius: 3px;
        transition: 0.3s ease-in-out;
    }

        .manage-container .table-Container .table-box .action_btn a:nth-child(1) {
            border-color: #26a69a;
        }

        .manage-container .table-Container .table-box .action_btn a:nth-child(2) {
            border-color: orange;
        }

        .manage-container .table-Container .table-box .action_btn a:hover {
            box-shadow: 0 3px 8px #0003;
        }
