@model string

<div id="delete-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Confirm Delete ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete" type="button" class="btn btn-success">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-hidden-form" method="POST"></form>

<script>
    //Tạo event lắng nghe jQuery đã được nạp, $ sẽ không báo lỗi
    document.addEventListener('DOMContentLoaded', () => {
        var deleteId;
        var deleteForm = document.forms['delete-hidden-form'];
        //get ID Drinks
        $('#delete-modal').on('show.bs.modal', (event) => {
            var button = $(event.relatedTarget);
            deleteId = button.data('id');
        })

        // Delete Drinks
        var btnDelete = document.getElementById('btn-delete');
        btnDelete.onclick = function () {
            deleteForm.action = "@Model" + deleteId;
            deleteForm.submit();
            toastr.success('Delete Successfully');
        }
    })
</script>
