@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpAcc
@{
    string IsLoggedInStr = httpAcc.HttpContext.Session.GetString("IsLoggedIn");
    bool IsLoggedIn = Convert.ToBoolean(IsLoggedInStr);
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                Luxury Restaurant
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @*LEFT SIDE HEADER*@
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Menu" asp-action="Index">Menu</a>
                    </li>
                    @if (IsLoggedIn && (User.IsInRole(Constant.Role_Admin)))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Food" asp-action="Index">Food</a>
                        </li>
                    }
                </ul>

                @*RIGHT SIDE HEADER*@
                <ul class="navbar-nav">
                    @if (IsLoggedIn)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark">Hello @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>